<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppSettings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProjectSuccessWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectSuccessWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AppSettings.Settings>
            <setting name="RedmineHost" serializeAs="String">
                <value>http://localhost:3000</value>
            </setting>
            <setting name="RedmineApiKey" serializeAs="String">
                <value>7e3e220b51abf83ef9dc38af31c0ef1ab25c4010</value>
            </setting>
            <setting name="DaysInSprint" serializeAs="String">
                <value>7</value>
            </setting>
        </AppSettings.Settings>
        <ProjectSuccessWPF.Properties.Settings>
            <setting name="RedmineApiKey" serializeAs="String">
                <value>7e3e220b51abf83ef9dc38af31c0ef1ab25c4010</value>
            </setting>
        </ProjectSuccessWPF.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ProjectSuccessWPF.Properties.Settings>
            <setting name="RedmineHost" serializeAs="String">
                <value>http://localhost:3000</value>
            </setting>
        </ProjectSuccessWPF.Properties.Settings>
    </applicationSettings>
</configuration>