<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.13" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="net.sf.mpxj" version="7.4.0" targetFramework="net461" />
  <package id="net.sf.mpxj-common" version="7.4.0" targetFramework="net461" />
  <package id="net.sf.mpxj-ikvm" version="7.4.0" targetFramework="net461" />
  <package id="redmine-api" version="2.0.15" targetFramework="net461" />
</packages>